.shark {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 88vh;
	background: #0500ff;
	background: linear-gradient(167deg, #0500ff 0%, #86c2cf 40%, #e8f0e8 80%);
	background: -webkit-linear-gradient(
		167deg,
		#0500ff 0%,
		#86c2cf 40%,
		#e8f0e8 80%
	);
	background: -moz-linear-gradient(
		167deg,
		#0500ff 0%,
		#86c2cf 40%,
		#e8f0e8 80%
	);
}
